* {
   font-family: 'Russo One', sans-serif;
}
h1 {  
    padding: 10px;
    margin: 10px;
    border: solid black;
    background-color: rgba(255, 240, 254, 0.626);
    font-family: 'Bungee Spice', cursive;
    font-size: 70px;
    height: fit-content;

}
.superform {
    background-image: linear-gradient(75deg,rgba(133, 16, 133, 0.6), rgb(166, 110, 6));
    border: solid rebeccapurple;
    margin: 10px;
    padding: 10px;
    width:fit-content ;
}
#pleaseContactMe {
    font-size: 20px;
    background-image: linear-gradient(75deg,rgba(133, 16, 133, 0.6), rgba(166, 110, 6, 0.9));
    border: solid rebeccapurple;
    margin: 10px;
    padding: 10px;
    width:fit-content;
    font-size: 25px;
    font-weight: bold;
}
#box:checked + label {
    color: green;
}
#socials a:visited {
    color: green;
}
#socials a:active {
    color: cyan;
}

p {
    position: relative;
 }

 a[href] {
    background-image: linear-gradient(75deg,rgba(133, 16, 133, 0.6), rgba(166, 110, 6, 0.9));
    text-decoration: none;
    border: solid black;
    padding: 10px;
    color: floralwhite;
 }
 .profile-pic {
    padding: 10px;
    border: solid aquamarine; 
    margin: 10px;
 }
 .div-element {
    height: 100px;
    width: 100px;
    color: white;
    background-color: red;
 }
 
 .myPic {
    width: 200px;
    height: 200px;
 }
 #mainheader {
    display: flex;
    justify-content: flex-start;
    border: solid black;
    margin: 10px;
    padding: 10px;
    background: url(/images/cybercity.jpg);
    background-size: contain;
    font-size: large;
    height: fit-content;
 }
 #mainpic {
   display: flex;
   justify-content: space-around;
   width: 250px;
   border: solid black;
 }
 main {
    border: solid palevioletred;
    margin: 10px;
    padding: 10px;
    background: url(/images/solen3.jpg);
    background-size: cover;
    color: azure;
    font-weight: bold;
 }
 footer {
    border: solid cyan;
    margin: 10px;
    padding: 10px;
    background: url(/images/cybercity.jpg);
    color: white;
 }
 div.headerbox {
    margin: 30px;
    background-color: #762f6dcc ;
    border: 1px solid black;
    opacity: 1;
    
  }
  .list {
   
   font-weight: bold;
   text-decoration: line-through red wavy 2px;
   font-size: 25px;
   color: floralwhite;
  }
  #hotmess {
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline double;
  color: floralwhite;
  }
  .content {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: flex-start;
  }
  #headercontent {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   border: solid black;
   margin: 10px;
  }
  .mainnav {
   display: flex;
   justify-content: space-evenly;
   background: url(/images/cybercity.jpg);
   font-size: 25px;
   font-weight: bold;
   height: 60px;
   align-items: center;
   text-decoration: underline 5px;
   margin: 10px;
   padding: 5px;
  }
  .content {
   background-image: linear-gradient(75deg,rgba(133, 16, 133, 0.6), rgba(166, 110, 6, 0.9));
    border: solid rebeccapurple;
    margin: 10px;
    padding: 10px;
    width:fit-content;
    font-size: 20px;
    font-weight: bold;
    width: 45%;
  }
  h3 {
   font-size: 25px;
   text-decoration: underline;
  }
  .projects {
   background-image: linear-gradient(75deg,rgba(133, 16, 133, 0.6), rgba(166, 110, 6, 0.9));
    border: solid rebeccapurple;
    margin: 10px;
    padding: 10px;
    width:fit-content;
    font-size: 20px;
    font-weight: bold;
    width: 50%;
  }
  .supercontent {
   display: flex;
   padding: 20;
   margin: 20px;
  }
  .boxes {

   width: 250px;
   height: 250px;
   border: solid whitesmoke;
   background-image: linear-gradient(65deg, rgba(225, 141, 23, 0.6), rgba(184, 11, 193, 0.6));
   text-decoration: underline;
}
  #boxcontainer {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-content: space-around;
   height: 600px;
  }